._smp_wp_maps_candidature_status {
    display: inline-block;
    width: 10px;
    height: 10px;
}

._smp_wp_maps_candidature_status.on {
    background-color: green;
}

._smp_wp_maps_candidature_status.off {
    background-color: red;
}

#_smp_wp_maps_title {
    font-size: 20px;
    padding: 0;
    font-weight: bold;
}

#_smp_wp_maps_partner span,
#_smp_wp_maps_calendar span,
#_smp_wp_maps_status span {
    font-weight: bold;
}